---
import { SMILES_DRAWER_DOI } from "../data/substances";
---

<p class="smiles-citation">
  Structure rendered with
  <a href={SMILES_DRAWER_DOI} target="_blank" rel="noreferrer noopener">
    SmilesDrawer
  </a>
</p>
